<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeRVA Lunch Menu Dashboard</title>
</head>
<body>
    <header id="overview">
        <h1>CodeRVA High School's Lunch Dashboard</h1>
        <h2>Welcome, {{ user_role.capitalize() }}!</h2>
    </header>


    <main>
        <div id="sidebar">
            <aside>
                <nav>
                    <ul>
                        <li><a href="#overview">Overview</a></li>
                        <li><a href="#menu">Menu</a></li>
                        <li><a href={{ url_for("logout") }}>Logout</a></li>
                    </ul>
                </nav>
            </aside>
        </div>


        <section id="menu">

            <h2>Weekly Menu</h2>

            <div id="weekly-menu">

                <h2>September</h2>


                <div id="weekly-menu-cards">

                    <!--Monday-->
                    <div class="day-card1">

                        <!--The day-->
                        <h3>Monday</h3>
                        <h4>9/13/2026</h4>

                        <!--For each meal display the meals + details (name, calories, ingredients, etc.)-->
                        {% for x in range(5)%}
                            <div class="meal">

                            </div>
                        {% endfor %}

                        <!-- Special permissions for workers-->
                        {% if user_role == "worker" %}
                            <!-- Dropdown options come from the Food table -->
                            <!-- MenuItem stores the selected food and its menu details -->
                            <!-- Menu displays MenuItems -->

                            <!-- Food -- MenuItem -- Menu -->
                            <form action="" method="POST" >

                                <label for="edit-menu">Add to menu:</label>

                                <select id="edit-menu" name="edit-menu">

                                    {% for x in range(5) %}
                                        <option>{{ x }}</option>
                                    {% endfor %}

                                </select>

                                <input type="submit" value="Select Food">

                            </form>




                        {% endif %}
                    </div>


                </div>

                <div class="arrow-left">

                </div>

                <div class="arrow-right">

                </div>

            </div>
        </section>

    </main>




</body>
</html>